{% extends 'courses/base.html' %}
{% load static %}
{% block content %}
<div class='container'>
    <h1>Lesson</h1>
    <div class='row'>
        <div class='col-sm-8 col-md-8'>
    {% if object is not None %}
        {% if object.video_url %}
        <h3>{{ object.title }}</h3>
        <p>{{ object.content }}</p>
        <video
        poster="{{ object.thumbnail.url }}"
        width="450"
        height="350" controls>
        <source src="{{ object.video_url }}" type="video/mp4">
        Sorry, your browser doesn't support embedded window.
        </video>
            {% endif %}
        {% else %}
{#        <h3>Upgrade membership</h3>#}
        <p>To view this course, you will need to upgrade or cancel your membership</p>
        <br>
        <a href="{% url 'memberships:select' %}"><button class='btn btn-warning'>Check out Memberships</button></a>
        <hr>
    {% endif %}
    </div>
    </div>
    </div>
{% endblock %}
